


<div id="hero">
    <img width="100%" height="750px" src="https://raw.githubusercontent.com/Kanhaiya2909/assets/main/earth-1617121__340.webp" alt="">
    <div class="content d-flex align-items-center">
        <div class="container text-center">
                <h1>WE DEVELOP BEAUTIFUL FUTURE</h1>
                
        </div>
    </div>


</div>






<div id="hero">
    <img src="https://raw.githubusercontent.com/Kanhaiya2909/assets/main/poverty.jpg" height="850px" width="100%">

    <div class="content d-flex align-items-center">
        <div class="container text-center">
                <h1 style="float: center;">Our organization does its best to reduce poverty globally.
                </h1>
                
        </div>
    </div>


</div>






<div id="hero">
    <img src="https://raw.githubusercontent.com/Kanhaiya2909/assets/main/lawyer.jpg" height="850px" width="100%">

    <div class="content d-flex align-items-center">
        <div class="container text-center">
                <h1 style="float: center;">Don't be silent. 
                    <br>
                    Don't be afraid. <br>
                    Because anything is possible. <br>
                    Because JUSTICE is for everyone.
                </h1>
                
        </div>
    </div>


</div>





<div id="hero">
    <img src="https://raw.githubusercontent.com/Kanhaiya2909/assets/main/human.jpg" height="850px" width="100%">

    <div class="content d-flex align-items-center">
        <div class="container text-center">
                <h1 style="float: center;">Everyone has the right to freedom of thought, conscience and religion.
                </h1>
                
        </div>
    </div>


</div>

<div id="hero">
    <img src="https://raw.githubusercontent.com/Kanhaiya2909/assets/main/pexels-photo-3186574.jpeg" height="850px" width="100%">

    <div class="content d-flex align-items-center">
        <div class="container text-center">
                <h1 style="float: center;">Look deep into nature, and then you will understand everything better.
                </h1>
                
        </div>
    </div>


</div>














    

  